<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stopchart.css')}}">

    </head>
    <body>
      <div class="container-fluid">
        <div id="svg-container" class="col-lg-6 text-center"></div>
        <div id="control-container" class="col-lg-6">
          <div id="buttons" class="col-lg-6">
            <button class="btn btn-default" id="addrow-button">Add Row</button>
            <button class="btn btn-default" id="addcol-button">Add Column</button>

          </div>
        </div>
      </div>
<!--
      <script src="https://d3js.org/d3.v4.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
      <script src="{{ url_for('static', filename='lib/d3.min.js') }}"></script>
      <script src="{{ url_for('static', filename='lib/jquery-3.2.0.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/stopchart.js') }}"></script>
    </body>
</html>
